body {
	margin:        0;
	font-family:  'PT Serif', serif;
	font-size:     15px;
	color:        #4C4C4C;
	line-height:   160%;
}	

*,
*::before,
*::after {
	box-sizing: border-box;
}


/*Container*/

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

/*start_screen*/

.start_screen {
	
}